@{
    ViewData["Title"] = "Home Page";
    var welcome = "欢迎";
}

<div class="text-center">
    <h1 class="display-4">@welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
